
body {
    background-image: url(/static/media/white-paper.jpg);
}


#showcase {
    /*background: transparent url('/static/media/white-paper.jpg');*/
}

.showcasespacer {
    padding: 0 0 30px 0;
}

.xtc-wrapper {
    width: 1040px;
    margin: 0 auto;
}


.helloimg {
    height: 328px;
    background: url(http://bg.antkzn.ru/templates/aventa/images/backgrounds/header_gazel.png) top center no-repeat;
    margin-top: 100px;
}

.hello {
    width: 200px;
    height: 39px;
    float: right;
}

.hello {
    width: 200px;
    height: 39px;
    background: url(http://bg.antkzn.ru/templates/aventa/images/backgrounds/Kazan.png) top center no-repeat;
    margin-top: 50px;
}

.hello_txt {
    float: right;
    margin-top: 50px;
}

.hellocolor {
    color: #4a9cca;
}

.hellointro {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 47px;
    line-height: 100%;
}

.telephon_num {
    float: right;
}

.telephon_num p {
    font-size: 40px;
    font-weight: bold;
}

.telephon {
    float: right;
    margin-top: 50px;
}

.telephon_ico {
    float: right;
    width: 70px;
    height: 55px;
    background: url(http://bg.antkzn.ru/templates/aventa/images/icons/telephone_ico.png) top center no-repeat;
    margin: 12px 10px 0 0;
}

#inset .module:first-child {
    margin: 0 !important;
}

.module {
    background: transparent url('/static/media/white-paper.jpg') repeat-x bottom left;
}

p {
    color: #888888;
}

#headerwrap {
    margin: 0 0 85px 0;
    position: relative;
    z-index: 2;
    background: #fcfcfc url('/static/media/white-paper.jpg') repeat-x 0 72px;
    border-top: 15px solid #1d1d1d;
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.075);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.075);
}

.zayavka_form {
}

/*  Стили заголовка  */

header#page-header {

}

header#page-header > div.row {

}

/* Стили обратной связи */

#callback .signup-panel {

    border-radius: 5px;

    border: 1px solid #ccc;

    padding: 15px;
    margin-top: 5em;

}

.signup-panel i {

    font-size: 30px;

    line-height: 50px;

    color: #999;

}

.signup-panel form input, .signup-panel form span {

    height: 50px;

}

.signup-panel .welcome {

    font-size: 26px;

    text-align: center;

    margin-left: 0;

}

.signup-panel p {

    font-size: 13px;

    font-weight: 200;

    margin-left: 25%;

}

.signup-panel .button {

    margin-left: 35%;

}

/* Styles for signup panels *

.auth-plain {

  padding-right: 0px;

  padding-left: 0px;

  padding-top: 0px;

}



.left-solid {

margin-top: 0px;

margin-bottom: 0px;

}



.signup-panel {

  border-radius: 5px;

  padding: 15px;

  margin-top: 30px;

  margin-bottom: 30px;

  background: #fff;

}



.signup-panel a{

  color: #fff;

}



.signup-panel i {

  font-size: 30px;

  line-height: 50px;

  color: #999;

}

.signup-panel form input, .signup-panel form span {

  height: 50px;

}

.signup-panel .welcome {

  font-size: 26px;

  text-align: center;

  margin-left: 0;

}

.signup-panel p {

  font-size: 13px;

  font-weight: 200;

  text-align: center;

}

.signup-panel .button {

  margin-left: 35%;

}



.newusers {

  background: #fff;

} */

/* Стили разделителя */
#razdelitel {
    height: 3em;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#polosa {
    background-color: #cecece;
    height: 1em;
    position: relative;
    transform: translateY(150%);
    margin-right: -7.5px;
    margin-left: -7.5px;
}

#razdelitel-text {
    background: #cecece;
    border-radius: 10px;
    font-size: 25px;
    margin: 0 15px 0 15px;
}

#razdelitel-text h2 {
    font-weight: 900;
}

/* Услуги и иконки */

.features {

    text-align: center;
}

.features hr {

    width: 25%;

    margin: 1rem auto;
}

@media only screen and (max-width: 40em) {

    .features .columns {

        margin-bottom: 5rem;
    }
}

.service {
    width: 100%;
    height: 320px;
    margin: 0 0;
    text-align: center;
    webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .service-icon-box {
    position: relative;
    top: 100px;
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .service-heading {
    position: relative;
    top: 80px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .service-description {
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.service .service-icon-box > img.service-icon {
    width: 80px;
}

.service:hover {
    border-color: #00a8ff;
}

.service:hover .service-icon-box {
    top: -15px;
}

.service:hover .service-heading {
    top: -30px;
}

.service:hover .service-description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* Стили формы обратной связи */

#id_zayavka_name {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
}

