{% load staticfiles %}

<html class="" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Бережный Груз | Мир Вам!</title>
    <link rel="stylesheet" href="{% static 'bergruz/css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'bergruz/css/foundation-icons/foundation-icons.css' %}">
    <link rel="stylesheet" href="{% static 'bergruz/css/app.css' %}">

</head>

<body>
<div class="top-bar">
    <div class="topbar-title">
        <a href="#">
            <img src="{% static 'bergruz/media/logo_bg1.png' %}" alt="Бережный груз">
        </a>
    </div>
    <div id="responsive-menu">
        <div class="top-bar-left">

        </div>
        <div class="top-bar-right">

        </div>
    </div>
</div>

<section id="show_case">
    <div class="row">

        <div class="columns small-12 medium-5">
            <img src="{% static 'bergruz/media/header_gazel.png' %}">
        </div>
        <div class="columns small-12 medium-7">
            <div class="row align-right align-top kazan">
                <img class="" src="{% static 'bergruz/media/Kazan.png' %}">
            </div>
            <div class="row align-right">
                <div class="columns small-12">
                    <h2 class="subheader text-right">Доставка грузов</h2>
                </div>
            </div>
            <div class="row align-right">
                <div class="columns small-12">
                    <h2 class="subheader text-right">Грузоперевозки</h2>
                </div>
            </div>
            <div class="row text-right align-middle telephone">
                <div class="column">

                    <h2 class="subheader">
                        <img class="resources-icon" src="{% static 'bergruz/media/telephone_ico.png' %}" alt="">
                        +7 (917) 935-48-24
                    </h2>

                </div>

            </div>
        </div>

    </div>
</section>

<section id="callback">

    <div id="razdelitel" class="row align-center align-middle">
        <div id="polosa" class="columns small-2 medium-3 large-4"></div>

        <div id="razdelitel-text" class="columns small-8 medium-6 large-4">
            <h2 class="text-center subheader" style="color: #fcfcfc;">Свяжитесь с нами</h2>
        </div>
        <div id="polosa" class="columns small-2 medium-3 large-4"></div>
    </div>

    <div class="row">

        <div class="small-12 medium-6 columns">

            <div class="row">

                <div class="medium-8 columns small-centered">

                    <div class="signup-panel">
                        <p class="welcome"> Обратный звонок!</p>

                        <form action="/zayavka/" method="post">
                            {% csrf_token %}

                            <div class="row collapse">

                                <div class="small-2  columns">
                                    <span class="prefix"><i class="fi-torso-female"></i></span>
                                </div>

                                <div class="small-10  columns">
                                    {{ zayavka_form.zayavka_name }}
                                </div>

                            </div>

                            <div class="row collapse">
                                <div class="small-2 columns">
                                    <span class="prefix"><i class="fi-telephone"></i></span>
                                </div>
                                <div class="small-10  columns">
                                    {{ zayavka_form.phone_number }}
                                </div>
                            </div>
                            <p class="sms_text">{{ sms_request }}</p>
                        </form>

                        <a href="#" class="button ">Отправить </a>

                        {# <p>Можете отправить расширенную заявку. <a href="#">Открыть &raquo</a></p> #}


                    </div>

                </div>

            </div>


        </div>
        <div class="small-12 medium-6 columns">
            <h2 class="text-center subheader">Позвоните или оставте заявку на сайте</h2>
            <div class="row text-right align-right align-middle telephone">
                <div class="column small-12">

                    <h2 class="subheader">
                        <img class="resources-icon" src="{% static 'bergruz/media/telephone_ico.png' %}" alt="">
                        +7 (917) 935-48-24
                    </h2>

                </div>

            </div>
            <div class="row columns">
                <hr>
                <p>"Бережный груз" оссуществляет доставку вашего груза по городу Казань, Республике и ближайшим
                    регионам.
                    Любой маршрут и характер груза обговариваются предворительно между заказчиком и
                    исполнителем.Своевременное выполнение заказа, исполнение всех пунктов договора является для нас
                    приоритетом в логистической деятельности. Заказывая услугу у нас на сайте вы страхуете себя и свой
                    груз
                    от непрофессиональных исполнителей.</p>
                <hr>
            </div>

        </div>
    </div>
    </div>

</section>


<section id="image">

    <div class="row">

        <div class="columns small-12">
            <div class="columns small-10 medium-8 small-centered">
                <img src="{% static 'bergruz/media/banner_bg.png' %}" alt="" class="thumbnail">
            </div>
        </div>

    </div>

    <div id="razdelitel" class="row align-center align-middle">
        <div id="polosa" class="columns small-2 medium-3 large-4"></div>

        <div id="razdelitel-text" class="columns small-8 medium-6 large-4">
            <h2 class="text-center subheader" style="color: #fcfcfc;">Преимущества</h2>
        </div>
        <div id="polosa" class="columns small-2 medium-3 large-4"></div>
    </div>


    <div class="row features small-up-2 medium-up-4">

        <div class="medium-3 columns">

            <div class="service">

                <div class="service-icon-box">

                    <img src="{% static 'bergruz/media/service1.png' %}"
                         alt="" class="service-icon">

                </div>

                <h4 class="service-heading subheader">Исполнение <br>обязательств</h4>

                <p class="service-description">Это правило.</p>

            </div>

        </div>

        <div class="medium-3 columns">

            <div class="service">

                <div class="service-icon-box">

                    <img src="{% static 'bergruz/media/service2.png' %}"
                         alt="" class="service-icon">

                </div>

                <h4 class="service-heading subheader">Сохранность <br>груза</h4>

                <p class="service-description">Ну, если че, зуб отдам....</p>

            </div>

        </div>

        <div class="medium-3 columns">

            <div class="service">

                <div class="service-icon-box">

                    <img src="{% static 'bergruz/media/service3.png' %}"
                         alt="" class="service-icon">

                </div>

                <h4 class="service-heading subheader">Бережная <br>перевозка</h4>

                <p class="service-description">Стойки поменяны, шины подкачал.</p>

            </div>

        </div>
        <div class="medium-3 columns">

            <div class="service">

                <div class="service-icon-box">

                    <img src="{% static 'bergruz/media/service4.png' %}"
                         alt="" class="service-icon">

                </div>

                <h4 class="service-heading subheader">Попутный <br>груз</h4>

                <p class="service-description">Кто, что, куда везет?.</p>

            </div>

        </div>


    </div>

</section>

<main id="content">


</main>


<header class="hero">

    <h1></h1>

    <h2 class="subheader"></h2>

</header>

<footer class="footer">

    <div class="row">

        <div class="small-12 medium-6 medium-push-6 columns">

            <p class="footer-logo show-for-small-only"><i class="fi-target"></i> Бережный груз</p>

            <div class="row">

                <div class="large-8 columns small-centered">

                    <div class="signup-panel">
                        <p class="welcome"> Обратный звонок!</p>

                        <form action="/zayavka/" method="post">
                            {% csrf_token %}

                            <div class="row collapse">

                                <div class="small-2  columns">
                                    <span class="prefix"><i class="fi-torso-female"></i></span>
                                </div>

                                <div class="small-10  columns">
                                    {{ zayavka_form.zayavka_name }}
                                </div>

                            </div>

                            <div class="row collapse">
                                <div class="small-2 columns">
                                    <span class="prefix"><i class="fi-telephone"></i></span>
                                </div>
                                <div class="small-10  columns">
                                    {{ zayavka_form.phone_number }}
                                </div>
                            </div>
                            <p class="sms_text">{{ sms_request }}</p>
                        </form>

                        <a href="#" class="button ">Отправить </a>

                        {# <p>Можете отправить расширенную заявку. <a href="#">Открыть &raquo</a></p> #}


                    </div>

                </div>

            </div>
        </div>

        <div class="small-12 medium-6 medium-pull-6 columns">

            <p class="footer-logo hide-for-small-only"><i class="fi-target"></i> Бережный груз</p>

            <ul class="inline-list footer-social">

                <a href="#"><i class="fi-social-facebook"></i></a>

                <a href="#"><i class="fi-social-twitter"></i></a>

                <a href="#"><i class="fi-social-linkedin"></i></a>

                <a href="#"><i class="fi-social-github"></i></a>

            </ul>

            <p class="copywrite">Copywrite by JAGGER © 2016</p>

        </div>

    </div>

</footer>

<script src="{% static 'bergruz/js/jquery.js' %}"></script>
<script src="{% static 'bergruz/js/foundation.js' %}"></script>
<script src="{% static 'bergruz/js/app.js' %}"></script>

<script>
    $(document).foundation();
</script>

</body>
</html>